<!-- Extend de um html base -->
{% extends 'base_login.html' %}

<!-- super() concatena o block com o que vc quer -->
{% block title %} {{ super() }} - Login {% endblock %}

<!-- Insere no bloco marcado no HTML BASE do extends -->
{% block content_login %}

<div class="form-signin">

  <form action="" method="POST">
    {{ form_login.csrf_token }}
    <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

    {{ form_login.username(class="form-control", placeholder="Username",id="username")}}

    {{ form_login.password(class="form-control",  placeholder="Senha", type="password")}}
    <div class="checkbox mb-3">
      <label>
        {{ form_login.rememberme(class="form-check-input")}} Lembrar-me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    
  </form>
  
</div>

{% endblock %}